/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
  max-width: 100%;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}
body {
  overflow-x: hidden;
  max-width: 100%;
  -ms-overflow-style: 2px;
  font-family: "inter", sans-serif;
  background-color: #eeeeee;
  z-index: -1;
}

body::-webkit-scrollbar {
  display: auto;
}

.noise-filter {
  width: 100vw;
  height: 100vh;
  background: url("https://i.gifer.com/WmZ0.gif");
  position: fixed;
  pointer-events: none;
  opacity: 0.06;
  z-index: 9999999;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav{
  z-index: -1;
}
.nav-item a {
  text-decoration: none;
  color: #111;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
}

.nav-item a:hover {
  background-color: #eeeeee;
  color: #111;
}

.five-pointed-star {
  margin: 25px 0;
  position: relative;
  display: block;
  color: darkslategrey;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid darkslategrey;
  border-left: 50px solid transparent;
  transform: scale(0.8);
  opacity: 80%;
}

.five-pointed-star:hover {
  transform-origin: center;
  animation: rotateStar 1.5s linear infinite;
  
}

@keyframes rotateStar {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.five-pointed-star:before {
  border-bottom: 40px solid darkslategrey;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -22.5px;
  left: -32.5px;
  display: block;
  content: '';
  transform: rotate(-35deg);
  opacity: 80%;
}

.five-pointed-star:after {
  position: absolute;
  display: block;
  color: darkslategrey;
  top: 1.5px;
  left: -52.5px;
  width: 0px;
  height: 0px;
  border-right: 50px solid transparent;
  border-bottom: 35px solid darkslategrey;
  border-left: 50px solid transparent;
  transform: rotate(-70deg);
  content: '';
  opacity: 80%;
}

.static-Z {
  position: absolute;
  top: 30px;
  left: 51px;
  color: black;
  z-index: -1;
}
/* home */
.home {
  background: #eeeeee;
  background-attachment: fixed;
  color: #111;
  letter-spacing: 2px;
  font-size: 15px;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}
a {
  color: #111;
}
.home-social a {
  text-decoration: none;
  color: #111;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  font-family: "inter", sans-serif;
  font-weight: 200;
}

.name {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;

  font-family: "inter", sans-serif;
  font-weight: 200;
}

/*spinner*/
.spinner {
  width: 105.6px;
  height: 105.6px;
  --clr: #696966;
  --clr-alpha: #111;
  -webkit-animation: spinner 2.9s infinite ease;
          animation: spinner 2.9s infinite ease;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.spinner > div {
  background-color: var(--clr-alpha);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 5.25px solid var(--clr);
}

.spinner div:nth-of-type(1) {
  -webkit-transform: translateZ(-35.2px) rotateY(180deg);
          transform: translateZ(-35.2px) rotateY(180deg);
}

.spinner div:nth-of-type(2) {
  -webkit-transform: rotateY(-270deg) translateX(50%);
          transform: rotateY(-270deg) translateX(50%);
  -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
          transform-origin: top right;
}

.spinner div:nth-of-type(3) {
  -webkit-transform: rotateY(270deg) translateX(-50%);
          transform: rotateY(270deg) translateX(-50%);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.spinner div:nth-of-type(4) {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
}

.spinner div:nth-of-type(5) {
  -webkit-transform: rotateX(-90deg) translateY(50%);
          transform: rotateX(-90deg) translateY(50%);
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
}

.spinner div:nth-of-type(6) {
  -webkit-transform: translateZ(35.2px);
          transform: translateZ(35.2px);
}

@-webkit-keyframes spinner {
  0% {
     -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

@keyframes spinner {
  0% {
     -webkit-transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }

  50% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }

  100% {
     -webkit-transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
             transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
}

/* About */
.me-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://zenlee-george.github.io/hostedimages/zenleegeorge.JPG");
  background-size: cover;
  background-position-x: center;
  width: 300px;
  height: 100%;
}
 .section.about {
white-space: normal;
color: #111;
height: 100%;
}

.personal-details {
list-style: none;
width: 100%;
justify-content: center;
}

.horizontal-hobbies {
height: 100%;
}

.personal-detail {
width: 100%;
display: flex;
justify-content: space-between;
margin-bottom: 20px;
}

.personal-detail:last-of-type {
margin: 0;
}

.about-heading {
margin-left: 8%;
margin-top: 12%;
margin-bottom: 5%;
font-size: clamp(31px, 5vw, 90px);
font-family: "Roboto", sans-serif;
font-weight: 200;
}
.about-text {
display: flex;
flex-direction: row;
justify-content: center;
padding: 20px;
font-weight: 200;
margin-left: 10%;
margin-right: 8%;
}
.bio-container {
display: flex;
flex-direction: column;
justify-content: space-between;
font-family: "Roboto", sans-serif;
font-size: 20px;
font-weight: 100;
color: black;
padding-right: 5%;
margin-left: 0;
}

.bio-container p {
margin-bottom: 40px;
}
p.skills-heading {
margin-left: 15%;
margin-top: 5%;
margin-bottom: 5%;
font-family: "Roboto", sans-serif;
font-weight: 200;
font-size: clamp(30px, 5vw, 50px);
}
.soft-skills {
display: flex;
flex-direction: row;
align-content: center;
font-family: "Roboto", sans-serif;
margin-left: 50%;
font-size: clamp(20px, 5vw, 30px);
font-weight: 100;
color: #111;
}
.soft-skills p {
text-align: right;
}
.soft-skills div:last-of-type {
align-self: center;
margin-left: 20px;
text-orientation: mixed;
writing-mode: vertical-lr;
}
.soft-skills div:last-of-type::after {
width: 100%;
}
.technical {
margin-left: -50px;
}
.technical-skills {
display: flex;
flex-direction: row;
align-content: center;
font-family: "Roboto", sans-serif;
margin-top: 3%;
font-size: clamp(20px, 5vw, 30px);
font-weight: 100;
color: #111;
}
.technical-skills div:first-of-type {
display: inline-block;
margin-left: 15%;
transform: rotate(-90deg);
}
.technical-skills div:last-of-type {
margin-left: -75px;
}
/* Education and Experience */
.section.work {
color: #111;
height: 100%;
padding: 0 100px 0 0;
}

p.education-heading {font-size: clamp(35px, 5vw, 90px);
font-family: "Roboto", sans-serif;
font-weight: 200;
margin-top: 5%;
margin-left: 8%;
}

.education-content {
margin-top: 5%;
margin-left: 26%;
font-family: "inter", sans-serif;
max-width: 900px;
}
.time {
font-size: 18px;
font-weight: 100;
}
.what {
font-family: "inter", sans-serif;
font-size: clamp(25px, 5vw, 40px);
font-weight: 200;
margin-bottom: 20px;
}
.description {
font-family: "inter", sans-serif;
font-weight: 200;
font-size: clamp(18px, 5vw, 20px);
}
.experience-content-container {
text-align: end;
}
.experience-heading {
font-size: clamp(35px, 5vw, 90px);
font-family: "Roboto", sans-serif;
font-weight: 200;
margin-top: 5%;
margin-right: 2%;
}
.experience-content {
margin-top: 5%;
margin-left: 20%;
max-width: 900px;
} 

/* fade */
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade {
  opacity: 0;
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

/*projects*/

/*form*/
.contact {
  white-space: normal;
  padding: 0 0 0 5%;
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.email-text {
  align-self: center;
  color: #111;
}
.email {
  font-size: clamp(20px, 5vw, 40px);
}
.lets {
  font-size: 20px;
  font-weight: 100;
}
#form {
  margin-right: 15%;
  width: 26vw;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border-radius: 4px;
}
.contact-form-heading {
  text-align: center;
  font-size: 40px;
  margin-bottom: 10%;
  color: #111;
}
.contact-label {
  display: none;
}
.contact-input {
  text-align: start;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 13px;
  background: transparent;
  border: none;
  border-bottom: solid 1px #111;
  color: #111;
  outline: none;
  font-size: 15px;
  font-weight: 200;
  font-family: "inter", sans-serif;
}
.message {
  height: 150px;
  resize: none;
}

.contact-input::placeholder {
  font-weight: 200;
  font-family: "inter", sans-serif;
  text-align: start;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 5%;
}

.contact button {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  font-family: "inter", sans-serif;
  font-size: clamp(15px, 5vw, 20px);
  font-weight: 200;
  align-self: center;
  transition-duration: 0.4s;
  background: rgba(17, 17, 17, 0);
  border: none;
  border-bottom: none;
  color: #111;
  outline: none;
}
.contact button::after {
  outline: none;
  display: block;
  position: absolute;
  bottom: 50%;
  content: "";
  height: 1px;
  width: 0%;
  background: #111;
  transition: 0.2s linear;
}
button:hover::after {
  width: 100%;
}

/*footer*/
.footer {
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding: 10px 60px 10px 5.5%;
  color: #111;
  background: #696969;
  font-family: "inter", sans-serif;
  font-weight: 200;
}
.copyright {
  font-size: clamp(10px, 5vw, 14px);
}
.home-arrow {
  color: #111;
  transform: translate(50%);
}
.profiles {
  display: flex;
}
.profiles i {
  margin-left: 20px;
  color: #111;
}


